/* Coolors Exported Palette - coolors.co/504746-621708-772014-941b0c-e64626 */

// Coolors
$color1: #504746;
$color2: #621708;
$color3: #772014;
$color4: #941b0c;
$color5: #e64626;

// USyd Gradient
$color0: #FFFFFF;
$color10: #FBE7E3;
$color20: #F8D0C8;
$color30: #F7C5BB;
$color40: #F4AEA0;
$color50: #F2A292;
$color60: #EF8B77;
$color70: #EC745C;
$color80: #EA684E;
$color90: #E75133;
$color100: #E64626;