/* Coolors Exported Palette - coolors.co/504746-621708-772014-941b0c-e64626 */

// Coolors
$color1: #504746;
$color2: #621708;
$color3: #772014;
$color4: #941b0c;
$color5: #e64626;

// USyd Gradient
$color0: #FFFFFF;
$color20: #F8D0C8;
$color40: #F4AEA0;
$color60: #EF8B77;
$color80: #EA684E;
$color100: #E64626;

$color10: #FBE7E3;
$color30: #F7C5BB;
$color50: #F2A292;
$color70: #EC745C;
$color90: #E75133;

// DataVis Colors as of 3/6/2015:
$hundred: #E64626;
$ninety: #EF8B77;
$eighty: #F4AEA0;
$seventy: #F8D0C8;
$sixty: #ffebeb;
$fifty: #d8e9fc;
$fourty: #7bafd8;
$thirty: #0078b2;
$twenty: #215b7f;
$ten: #303f4e;
$not_vaild: #000000;
